# 全局通用设置
[general]
retry_times = 3                    # 请求失败重试次数
backoff_factor = 2.0
timeout = 30.0                     # 请求加载超时时间 (秒)
max_connections = 10               # 并发连接的最大数
max_rps = 1000.0                   # 最大请求速率 (requests per second), 如不设置则请设置一个较大的数或负数
request_interval = 0.5             # 同一本书各章节请求间隔 (秒)
raw_data_dir = "./raw_data"        # 书籍原始 JSON/DB/图片 数据存放目录
output_dir = "./downloads"         # 最终输出文件存放目录
cache_dir = "./novel_cache"        # 本地缓存目录
workers = 4                        # 工作协程数
skip_existing = true               # 是否跳过已存在章节
storage_batch_size = 1             # SQLite 批量提交的章节数量
backend = "aiohttp"                # aiohttp / httpx / curl_cffi
locale_style = "simplified"        # simplified / traditional
login_required = false
# http2 = false
# impersonate = "chrome"

# 输出文件格式及相关选项
[general.output]
formats = [
  "txt",
  "epub",
#   "html",
]
append_timestamp = true            # 在文件名中追加时间戳
filename_template = "{title}_{author}"
include_picture = true             # 是否附带书籍图片

[general.parser]
# 解析字体加密 / OCR / 图片章节等高级功能需要安装额外依赖
# 参考文档: docs/1-installation.md

enable_ocr = false                 # 是否尝试本地解析混淆字体 / 图片章节
batch_size = 32

remove_watermark = false           # 图片章节是否尝试去水印
cut_mode = "none"                  # none | line | paragraph

# 以下为 PaddleOCR 文本识别的可选参数
model_name = "PP-OCRv5_mobile_rec"
# model_dir = "/path/to/inference"
# device = "gpu"                    # "cpu" / "gpu"
# cpu_threads = 10

[general.debug]
save_html = false                  # 是否将抓取到的原始 HTML 保留到磁盘
log_dir = "./logs"
log_level = "INFO"                 # 日志级别: DEBUG, INFO, WARNING, ERROR

# 各站点的特定配置
[sites.qidian]  # 起点中文网
book_ids = [
  "0000000000",
  "0000000000",
]
login_required = true              # 是否需要登录才能访问

[sites.qqbook]  # QQ 阅读
login_required = true

[sites.esjzone]  # ESJ Zone
login_required = true
# username = "youremail@domain.com"  # 登录邮箱
# password = "yourpassword"          # 登录密码

[sites.sfacg]
login_required = true

[sites.n69shuba]
login_required = false
backend = "curl_cffi"
impersonate = "chrome136"

[sites.wenku8]
login_required = false
backend = "curl_cffi"
impersonate = "chrome136"

[sites.twkan]
login_required = false
backend = "curl_cffi"
impersonate = "chrome136"

[sites.linovelib]  # 哔哩轻小说
login_required = false
request_interval = 2.5

[sites.faloo]
request_interval = 3.0
login_required = true

[sites.ciyuanji]
login_required = true

[sites.ciweimao]
login_required = true

[sites.yamibo]
login_required = false

[plugins]
# 是否启用本地插件目录
enable_local_plugins = false
# 是否覆盖内置实现
override_builtins = false
# 本地插件路径 (可选)
local_plugins_path = "./novel_plugins"

# [[plugins.processors]]
# name = "cleaner"
# overwrite = false
# remove_invisible = true

# title_removes = "path/to/title-remove.json"
# title_replace = "path/to/title-replace.json"

# content_removes = "path/to/content-remove.json"
# content_replace = "path/to/content-replace.json"
