/* ===== Base ===== */

html, body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: 1em;
}

/* Basic typography */

p {
  margin: 0 0 0.6em 0;
  text-indent: 2em;
}

p:first-child {
  text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.5em;
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* Utility */

.width100 {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* ===== Intro page ===== */

.intro {
  margin: 1.5em 1.2em;
}

.intro-title {
  font-size: 1.2em;
  text-align: left;
  margin: 0 0 0.8em;
}

.intro-info {
  font-size: 0.9em;
  color: #666666;
  margin-bottom: 1em;
}

.intro-info p {
  margin: 0.2em 0;
  text-indent: 0;
}

.intro-info .label {
  font-weight: bold;
}

.intro-description {
  margin-top: 0.5em;
}

.intro-description p {
  margin: 0.4em 0;
  text-indent: 2em;
}

/* ===== Volume pages ===== */

.vol-title {
  font-size: 1.1em;
  margin: 1.2em 1.2em 0.4em;
}

.vol-description {
  margin: 0 1.2em 1.2em;
}

.vol-description p {
  margin: 0.4em 0;
  text-indent: 2em;
}

/* Special plain volume title page (no cover) */

h1.head {
  margin-top: 60%;
  text-align: center;

  background-color: rgba(245, 70, 100, 0.8);
  padding: 10px 0;
  font-size: 1em;
  line-height: 150%;
  color: #f8f291;
  margin-left: -2em;
  margin-right: -2em;
}

h1.head b {
  font-size: 1.2em;
  color: #fafd1c;
}

/* ===== Chapter pages ===== */

.chapter-title {
  font-size: 1.4em;
  text-align: center;
  margin: 1.5em 0 1em;
}

.chapter-content {
  margin: 0 1.2em 1.5em;
  font-size: 1em;
}

/* Default paragraph style inside chapter content */

.chapter-content p {
  margin: 0.4em 0;
  text-indent: 2em;
}

/* ===== Images inside chapters ===== */

.duokan-image-single {
  text-align: center;
  margin: 1em auto;
}

.duokan-image-single img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.illus {
  margin: 1em 0;
}

.chapter-content .vol-description p,
.chapter-content .intro-description p {
  text-indent: 2em;
}

.chapter-content .intro-info p {
  text-indent: 0;
}

/* ===== Extra blocks (e.g. Author Notes) ===== */

.extra-block {
  margin: 2em 1.2em 1.5em;
  padding: 0;
}

.extra-block hr {
  border: none;
  border-top: 1px solid #cccccc;
  margin: 1.8em 0 1.2em;
}

.extra-block h3 {
  font-size: 1.1em;
  margin: 0 0 0.6em;
  font-weight: bold;
  text-align: left;
}

.extra-block p {
  margin: 0.4em 0;
  text-indent: 2em;
  line-height: 1.6;
}

/* Inline flipped characters */
.refl {
  display: inline-block;
  text-indent: 0;
  vertical-align: baseline;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1); /* iOS / WebKit */
  transform-origin: center;
  -webkit-transform-origin: center;
}
